main > div {
  justify-content: space-between;

  width: 50rem;
  height: 30rem;
}

#displayChaves {
  width: 90%;
  height: 10rem;

  padding: 2rem;

  box-shadow: 0 0 5px;
}

p {
  margin: 1rem;
  text-align: left;
}