main > div {
  justify-content: initial;
  align-items: initial;

  width: 50rem;
  height: 38rem;
}

main h1 {
  text-align: center;
}

main li {
  margin: 0 0 0 1rem;

  font-size: 1.5rem;
}

main > div > div {
  display: flex;
  justify-content: center;

  margin: 2rem;
}

.buttons {
  width: 20rem;
  
  margin: 2rem;
}