#center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}

#logo2 {
    width: 500px;
    opacity: 20%;
}

#box {
    width: 700px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.33);
    border-radius: 25px;
    margin-right: 120px;
}

h2 {
    margin-top: 12px;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

h3 {
    margin-left: -6px;
    margin-top: -34px;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

p {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.piggy {
    width: 40px;
    opacity: 75%;
    margin-left: 12px;
}

#cadastrar, #acessar {
    width: 233px;
    height: 50px;
    background: #164A9D;
    border-radius: 17px;
    font-size: 25px;
    color: #FFFFFF;
    border-color: rgba(196, 196, 196, 0);
}

#cadastrar:hover, #acessar:hover {
    background: rgba(50, 80, 129, 0.59);
    cursor: pointer;
}

#login_cadastro {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastrar {
    margin-bottom: 20px;
}