main {
  width: 70%;
}

main > div:first-child {
  width: 35rem;
  height: 30rem;
}

main > div:first-child > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div:first-child img {
  width: 4rem;
}

main > div:first-child button {
  margin: 2rem 0 0 0;
}

main h1 {
  font-size: 2rem;
}
